@charset "UTF-8";

body {
    background-color: rgb(27, 27, 27);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
h1 {
    color: rgb(0, 255, 55);
    background-color: rgb(21, 104, 0);
}
h2 {
    color: rgb(255, 0, 200);
    background-color: rgb(110, 0, 92);
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    color: rgb(255, 255, 255);
}
a {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}